body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  margin: 0;
  padding: 0;
}
.nav-item:hover{
  color: grey;
  border-bottom:2px solid blue
}
.animated{
  animation: imagemove 1s linear 0s infinite alternate-reverse;
  margin-left: 50%;
}
@keyframes imagemove{
  from{transform: translateY(0);}
  to{transform: translateY(-3%);}
}
#header{
  width: 80%;
  height: 80%;
  position: absolute;
  top: 10%;
}
a{
  text-decoration: none !important;
  color: green;
}
/* a:hover{
  color: green;
}
a:link {
  color: red;
}
a:visited {
  color: green;
}
a:active {
  color:green;
} */
